.videoResponsive {
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  height: 400px;

  iframe {
    left: 0px;
    top: 0px;
    max-height: 400px;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 100;

    @media (max-width: 351px){
      max-height: 300px;
    }
 }

 @media (max-width: 351px){
  max-height: 300px;
 }
}