.cardContainer{
  min-height: 500px;
  margin-top: 24px;
  background-color: #ffffff;
  width: 380px;
  border-radius: 8px;
  transition: box-shadow 0.5s;

  &:hover{
    box-shadow: rgb(18 17 24 / 24%) 4px 4px 8px 4px;
  }

  @media (max-width: 1201px) {
    width: 330px;        
  }

  @media (max-width: 321px) {
    width: 280px;        
  }

  @media (max-width: 276px) {
    width: 200px;        
  }
}

.cardDescription{
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
  h4{
    font-size: 20px;
    font-weight: 500;
    font-family: Rubik;
    color: #070606;
    cursor: pointer;
    margin-bottom: 16px;
    transition: all ease-in-out 0.7s;

    &:hover{
      text-decoration: underline;
    }
  }
  h5{
    font-size: 16px;
		font-weight: 400;
    font-family: Rubik;
    color: #2F2E2E;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
    font-family: Rubik;
    line-height: 24px;
    color: #817E7E;
  }
}
