@import "./variables/index.scss";
@font-face {
  font-family: 'Cooper';
  src: url('../../public/Cooper-Black.ttf');
  font-weight: 900;
  font-style: normal;
  }

*{
  padding: 0px;
  margin: 0px;
}

body{
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: none;
  outline: none;
}

::-webkit-scrollbar-thumb {
  background: #DFA139; 
  border-radius: 4px;
}

.Modal{
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 25%;
  left: 25%;
  width: 1245px;
  height: auto;
  border: none;
  outline: none;
  border-radius: 4px;
  overflow-y: scroll;
  background-color: #ffffff;

  @media (max-width: 1441px) {
    width: 1080px;
    left: 15%;
    right: 50%;
    height: 600px;
  }

  @media (max-width: 1025px) {
    width: 790px;
    left: 10%;
    right: 50%;
    height: 440px;        
  }

  @media (max-width: 769px) {
    width: 640px;
    left: 8%;
    right: 50%;
    height: 364px;       
  }

  @media (max-width: 426px) {
    width: 100%;
    left: 0;
    right: 50%;
    height: 240px;       
  }

  @media (max-width: 376px) {
    width: 100%;
    left: 0;
    right: 50%;
    height: 220px;       
  }

  @media (max-width: 321px) {
    width: 100%;
    left: 0;
    right: 50%;
    height: 200px;       
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.922);
  z-index: 250;
}


