.ClassesSection{
  background: #F2F2F2 0% 0% no-repeat padding-box;
  padding-right: 164px;
  padding-left: 164px;
  padding-top: 48px;
  h2{
    font-size: 30px;
    font-weight: 600;
    font-family: Rubik;
    color: #707070;
  }

  @media(max-width: 1601px) {
    padding-right: 72px;
    padding-left: 72px;
    h2{
      font-size: 24px;
    }      
  }

  @media(max-width: 1025px) {
    padding-right: 32px;
    padding-left: 32px;      
  }

  @media(max-width: 426px) {
    padding-right: 16px;
    padding-left: 16px;      
  }

  @media(max-width: 376px) {
    padding-right: 12px;
    padding-left: 12px;      
  }

  @media(max-width: 321px) {
    padding-right: 10px;
    padding-left: 10px;      
  }
}

.horizontalLine{
  width: 168px;
  border-top: 4px solid #707070;
  margin-top: 8px;
  border-radius: 2px;
  @media(max-width: 800px) {
    margin-bottom: 24px;
    margin-top: 12px;      
  }        
}

.ClassesContainer{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  @media(max-width: 1601px) {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0px;        
  }

  @media(max-width: 1025px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0px;        
  }

  @media(max-width: 769px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0px;        
  }

  @media(max-width: 426px) {
    display: flex;
    flex-direction: column;
    padding: 8px;       
  }
}

.seeMoreBtn{
  display: flex;
  justify-content: flex-end;
}

.button{
  margin-top: 24px;
  font-family: 'Rubik';
  background: local;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;

  &:hover{
    background-color: #DFA139;
    border-radius: 8px;
    color: #F2F2F2;
  }
}
