.buttonContainer{
    color: white;
    background-color: #DFA139;
    width: 142px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: 'Rubik';

    @media(max-width: 330px) {
      height: 48px;
      font-size: 14px;
    }
}