.buttonContainer{
    color: white;
    background-color: #DFA139;
    width: 142px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: 'Rubik';
    border: none;

    &:hover{
      background-color: #f6ad30;
      box-shadow: #808080 0px 0px 4px;      
    }

    @media(max-width: 330px) {
      height: 48px;
      font-size: 14px;
    }
}