.NavContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #f5e4c4;
  opacity: 1;
  height: 64px;
  position: fixed;
  backdrop-filter: blur(20px);
  z-index: 110;
  padding-right: 164px;
  padding-left: 164px;

  @media(max-width: 1441px){
    padding-right: 64px;
    padding-left: 64px;        
  }

  @media(max-width: 1441px){
    padding-right: 32px;
    padding-left: 32px;        
  }

  @media(max-width: 426px){
    padding-right: 16px;
    padding-left: 0px;        
  }
}

.navLeft{
  cursor: pointer;
}

.navCenter{
  width: auto;
}

.closeBtn{
  background: url("/closeBtnDark.svg");
  width: 24px;
  height: 24px;
}

.navRight{
  display: flex;
  justify-content: space-between;
  margin-right: 356px;

  @media (max-width: 1441px) {
    margin-right: 132px;    
  }

  @media (max-width: 1025px) {
    margin-right: 56px;    
  }

  @media (max-width: 769px) {
    display: none;    
  }
}

.navItem{
  margin-left: 48px;
  cursor: pointer;

  @media (max-width: 1441px) {
    margin-left: 24px;    
  }

  @media (max-width: 1025px) {
    margin-right: 14px;    
  }

  p{
    font-size: 24px;
    font-family: 'Rubik';
    font-weight: 600;
    text-align: left;

    @media (max-width: 1441px) {
      font-size: 16px;    
    }

    @media (max-width: 1225px) {
      font-size: 20px;    
    }

    @media (max-width: 860px) {
      font-size: 10px;      
    }
  }

  .underLine{
    height: 6px;
    width: 0%;
    background-color: #141414;
    border-radius: 8px;
    transition: width ease-in-out 0.5s;
  }

  &:hover{
    .underLine{
      width: 100%;
    }
  }

  @media(max-width: 769px){
    display: none;    
  }
}

.hamburger{
  width: 80px;
  height: 40px;
  margin-right: 40px;
  cursor: pointer;

  @media (max-width: 426px) {
    margin-right: 8px;
    width: 64px;
    height: 24px;    
  }
}

.menuBtn{
  display: none;

  @media (max-width: 769px) {
    display: flex;    
  }
}

.MenuModal {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 150px;
  z-index: 150;
  position: fixed;
  top: 8%;
  right: 2%;  
  border-radius: 8px;
  box-shadow: 5px 5px 20px;
  overflow-y: scroll;
  opacity: 1;
}

.modalNavItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  height: 50px;
  width: 100%;
  text-align: center;
  font-family: Rubik;
  cursor: pointer;
  transition: all ease-in-out 0.5s;

  &:hover{
    font-size: 20px;
    background-color: #f6e6c4;
  }
}